{% extends "base.html" %}
{% block content %}


<!--///////////////////////////////////////////////////////////////////////////////////
                                  Sign up Section
///////////////////////////////////////////////////////////////////////////////////-->

<section class="dashboard-update">
    <div class="container">
        <br>
        <nav id="site-navigation" class="main-navigation" role="navigation">
            <div class="nav-menu">
                <ul>
                    <li class="current_page_item"><a href="/dashboard/" title="Home">Dashboard</a></li>
                    <li class="page_item page-item-7"><a href="/setting/">Setting</a></li>

                    <li class="page_item page-item-9 active"><a href="/project/">Add Project</a></li>
                    <li class="page_item page-item-9"><a href="/question/">Add Question</a></li>
                </ul>
            </div><!-- .nav-menu -->
        </nav><!-- #site-navigation -->

    </div>
</section>

<div id="member-profile-section">

 <div class="container">

 <div class="card-profile">
                    <label class="f-or"> Project / Works</label>


  <form action="/project/" method="post" id="register-form" enctype="multipart/form-data">
      {% csrf_token %}

                <div class="form-group">
                    <label class="p-heading"  for="name1">  Name </label>
                  {{projectForm.companyName}}
                    <!--<input type="text" name="projectname" class="form-control" id="name1" placeholder="Email" >-->
                </div>

                <div class="form-group">
                    <label class="p-heading"  for="brandname"> Brand Name</label>
                    {{projectForm.brandName}}
                    <!--<input type="text" name="projectbrandname" class="form-control" id="brandname" placeholder="Email">-->
                </div>

                    <div class="row">
                        <div class="col-md-6">
                <div class="form-group">
                    <label class="p-heading"  for="business1"> Type of Business</label>
                    {{projectForm.typeOfBusiness}}
                    <!--<select class="form-control" id="business1" name="projectbusiness">-->
                        <!--<option>B2B</option>-->
                        <!--<option>B2C</option>-->
                        <!--<option>C2B</option>-->
                        <!--<option>B2B2C</option>-->

                    <!--</select>-->
                </div>
                        </div>

                        <div class="col-md-6">

                <div class="form-group">
                    <label class="p-heading"  for="url1">URL link</label>
                    {{projectForm.url}}
                    <!--<input type="text" name="projecturl" class="form-control" id="url1" placeholder="Email">-->
                </div>

                        </div>
                    </div>

                <div class="form-group">
                    <label class="p-heading">  Brief Description </label>
                     {{projectForm.description}}
                    <!--<textarea class="form-control" name="projectdescription" id="description" placeholer="Brief Description">-->
                                      <!--</textarea>-->
                </div>


                <div class="form-group">
                    <label class="p-heading"  for="videolink"> Video Link to embed</label>
                    {{projectForm.videoLink}}
                    <!--<input type="text"  name="projectvideolink" class="form-control" id="videolink" placeholder="Video Link">-->
                </div>

                    <div class="row">
                        <div class="col-md-12">

                                    <div class="form-group">

                                        <div class="form-group">
                                            <label class="p-heading"> Investor Deck</label>
                                            {{projectForm.investor}}
                                            <!--<input type="file" id="investor" name="projectinvestor">-->

                                        </div>
                                    </div>

                             <div class="form-group">

                        <div class="form-group">
                            <label class="p-heading"> Logo / Image</label>
                            {{projectForm.logo}}
                            <!--<input type="file" id="logo" name="projectlogo">-->

                        </div>
                    </div>


                <div class="form-group">
                    <label class="p-heading"  for="aboutc"> About the product/ company</label>
                    {{projectForm.aboutProductCompany}}
                    <!--<input type="text" name="projectaboutc" class="form-control" id="aboutc" placeholder=" About the product / company">-->
                </div>

                        </div>



                    </div>


           <br>
<div class="row">
    <div class="col-md-12 text-center">
            <button type="submit"  class="btn btn-primary btn-lg bg-or">Submit</button>
</div>
</div>
            </form>
{{msg}}

</div>




</div>
</div>
<br>


<script type='text/javascript'>
$(document).ready(function(){


 $('input[type="text"]').addClass('form-control');
 $('input[type="number"]').addClass('form-control');
 //$('input[type="file"]').addClass('form-control');
 $('select').addClass('form-control');
    $("#id_companyName").attr('readonly','readonly');


});
</script>
{% endblock %}




